
3/.vs/3/FileContentIndex/3101566f-5102-4e92-9b98-7b52b4159d83.vsidx
3/.vs/3/FileContentIndex/4c31add0-90bd-4dc3-a08c-e33d1090273c.vsidx
3/.vs/3/FileContentIndex/92a392aa-6f16-4e29-8516-bc484e30554d.vsidx
3/.vs/3/v17/Browse.VC.db
3/.vs/3/v17/Browse.VC.db-shm
3/.vs/3/v17/Browse.VC.db-wal
3/.vs/3/v17/Browse.VC.opendb
.vs/PYTHON-/FileContentIndex/5b50ccdc-26bf-460e-8ea1-87b5b8bb55cc.vsidx
.vs/PYTHON-/FileContentIndex/ae015b37-4968-4fe9-b581-2a0caf2f5391.vsidx
.vs/PYTHON-/v17/Browse.VC.db-shm
.vs/PYTHON-/v17/Browse.VC.db-wal
.vs/PYTHON-/v17/Browse.VC.opendb
5/.vs/5/FileContentIndex/2c2732f9-3d4f-4d23-a4fc-6cb20c26c067.vsidx
5/.vs/slnx.sqlite
